<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.agri.mapper.AgriTypeMapper">
    
    <resultMap type="AgriType" id="AgriTypeResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="category"    column="category"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectAgriTypeVo">
        select id, create_by, create_time, update_by, update_time, user_id, dept_id, category, type from agri_type t
    </sql>

    <select id="selectAgriTypeList" parameterType="AgriType" resultMap="AgriTypeResult">
        <include refid="selectAgriTypeVo"/>
        <where>  
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectAgriTypeById" parameterType="String" resultMap="AgriTypeResult">
        <include refid="selectAgriTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAgriType" parameterType="AgriType">
        insert into agri_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="category != null">category,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="category != null">#{category},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateAgriType" parameterType="AgriType">
        update agri_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="category != null">category = #{category},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAgriTypeById" parameterType="String">
        delete from agri_type where id = #{id}
    </delete>

    <delete id="deleteAgriTypeByIds" parameterType="String">
        delete from agri_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>