<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.agri.mapper.ArgiDeviceMapper">
    
    <resultMap type="ArgiDevice" id="ArgiDeviceResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deviceNo"    column="device_no"    />
        <result property="deviceName"    column="device_name"    />
        <result property="deviceTypeId"    column="device_type_id"    />
        <result property="deviceType"    column="device_type"    />
        <result property="deviceStatus"    column="device_status"    />
        <result property="argiMachineryId"    column="argi_machinery_id"    />
        <result property="argiMachineryName"    column="argi_machinery_name"    />

    </resultMap>

    <sql id="selectArgiDeviceVo">
        select id, user_id, dept_id, create_by, create_time, update_by, update_time, device_no, device_name, device_type_id, device_type, device_status, argi_machinery_id,argi_machinery_name from argi_device
    </sql>

    <select id="selectArgiDeviceList" parameterType="ArgiDevice" resultMap="ArgiDeviceResult">
        <include refid="selectArgiDeviceVo"/>
        <where>  
            <if test="deviceName != null  and deviceName != ''"> and device_name like concat('%', #{deviceName}, '%')</if>
            <if test="deviceTypeId != null  and deviceTypeId != ''"> and device_type_id = #{deviceTypeId}</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
            <if test="deviceStatus != null  and deviceStatus != ''"> and device_status = #{deviceStatus}</if>
            <if test="argiMachineryId != null  and argiMachineryId != ''"> and argi_machinery_id = #{argiMachineryId}</if>
            <if test="argiMachineryName != null  and argiMachineryName != ''"> and argi_machinery_name = #{argiMachineryName}</if>

        </where>
    </select>
    
    <select id="selectArgiDeviceById" parameterType="String" resultMap="ArgiDeviceResult">
        <include refid="selectArgiDeviceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertArgiDevice" parameterType="ArgiDevice">
        insert into argi_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deviceNo != null">device_no,</if>
            <if test="deviceName != null and deviceName != ''">device_name,</if>
            <if test="deviceTypeId != null">device_type_id,</if>
            <if test="deviceType != null and deviceType != ''">device_type,</if>
            <if test="deviceStatus != null and deviceStatus != ''">device_status,</if>
            <if test="argiMachineryId != null">argi_machinery_id,</if>
            <if test="argiMachineryName != null">argi_machinery_Name,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deviceNo != null">#{deviceNo},</if>
            <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
            <if test="deviceTypeId != null">#{deviceTypeId},</if>
            <if test="deviceType != null and deviceType != ''">#{deviceType},</if>
            <if test="deviceStatus != null and deviceStatus != ''">#{deviceStatus},</if>
            <if test="argiMachineryId != null">#{argiMachineryId},</if>
            <if test="argiMachineryName != null">#{argiMachineryName},</if>
         </trim>
    </insert>

    <update id="updateArgiDevice" parameterType="ArgiDevice">
        update argi_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deviceNo != null">device_no = #{deviceNo},</if>
            <if test="deviceName != null and deviceName != ''">device_name = #{deviceName},</if>
            <if test="deviceTypeId != null">device_type_id = #{deviceTypeId},</if>
            <if test="deviceType != null and deviceType != ''">device_type = #{deviceType},</if>
            <if test="deviceStatus != null and deviceStatus != ''">device_status = #{deviceStatus},</if>
            <if test="argiMachineryId != null">argi_machinery_id = #{argiMachineryId},</if>
            <if test="argiMachineryName != null">argi_machinery_name = #{argiMachineryName},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteArgiDeviceById" parameterType="String">
        delete from argi_device where id = #{id}
    </delete>

    <delete id="deleteArgiDeviceByIds" parameterType="String">
        delete from argi_device where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>