<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.BizTasksAssignmentsMapper">
    
    <resultMap type="BizTasksAssignments" id="BizTasksAssignmentsResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="bizTasksId"    column="biz_tasks_id"    />
        <result property="bizTasksName"    column="biz_tasks_name"    />
        <result property="agriFarmerId"    column="agri_farmer_id"    />
        <result property="agriFarmerName"    column="agri_farmer_name"    />
        <result property="agriFieldsId"    column="agri_fields_id"    />
        <result property="agriFieldsName"    column="agri_fields_name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="tasksStatus"    column="tasks_status"    />
        <result property="serialNum"    column="serial_num"    />
        <result property="bizName"    column="biz_name"    />
        <result property="agriTypeId"    column="agri_type_id"    />
        <result property="agriTypeCategory"    column="agri_type_category"    />
        <result property="agriTypeType"    column="agri_type_type"    />
    </resultMap>

    <sql id="selectBizTasksAssignmentsVo">
        select id, create_by, create_time, update_by, update_time, user_id, dept_id, biz_tasks_id, biz_tasks_name, agri_farmer_id, agri_farmer_name, agri_fields_id, agri_fields_name, start_time, end_time, tasks_status, serial_num, biz_name, agri_type_id, agri_type_category, agri_type_type from biz_tasks_assignments t
    </sql>

    <select id="selectBizTasksAssignmentsList" parameterType="BizTasksAssignments" resultMap="BizTasksAssignmentsResult">
        <include refid="selectBizTasksAssignmentsVo"/>
        <where>  
<!--            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>-->
<!--            <if test="deptId != null  and deptId != ''"> and dept_id = #{deptId}</if>-->
            <if test="bizTasksId != null  and bizTasksId != ''"> and biz_tasks_id = #{bizTasksId}</if>
            <if test="bizTasksName != null  and bizTasksName != ''"> and biz_tasks_name like concat('%', #{bizTasksName}, '%')</if>
            <if test="agriFarmerId != null  and agriFarmerId != ''"> and agri_farmer_id = #{agriFarmerId}</if>
            <if test="agriFarmerName != null  and agriFarmerName != ''"> and agri_farmer_name like concat('%', #{agriFarmerName}, '%')</if>
            <if test="agriFieldsId != null  and agriFieldsId != ''"> and agri_fields_id = #{agriFieldsId}</if>
            <if test="agriFieldsName != null  and agriFieldsName != ''"> and agri_fields_name like concat('%', #{agriFieldsName}, '%')</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="tasksStatus != null  and tasksStatus != ''"> and tasks_status = #{tasksStatus}</if>
            <if test="serialNum != null  and serialNum != ''"> and serial_num = #{serialNum}</if>
            <if test="bizName != null  and bizName != ''"> and biz_name like concat('%', #{bizName}, '%')</if>
            <if test="agriTypeId != null  and agriTypeId != ''"> and agri_type_id = #{agriTypeId}</if>
            <if test="agriTypeCategory != null  and agriTypeCategory != ''"> and agri_type_category = #{agriTypeCategory}</if>
            <if test="agriTypeType != null  and agriTypeType != ''"> and agri_type_type = #{agriTypeType}</if>
            ${params.dataScope}

        </where>
    </select>
    
    <select id="selectBizTasksAssignmentsById" parameterType="String" resultMap="BizTasksAssignmentsResult">
        <include refid="selectBizTasksAssignmentsVo"/>
        where id = #{id}
    </select>

    <select id="selectBizTasksAssignmentsByIdbizTasksId" parameterType="String" resultMap="BizTasksAssignmentsResult">
        <include refid="selectBizTasksAssignmentsVo"/>
        where biz_tasks_id = #{id}
        ORDER BY create_time DESC
        LIMIT 1
    </select>
        
    <insert id="insertBizTasksAssignments" parameterType="BizTasksAssignments">
        insert into biz_tasks_assignments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="bizTasksId != null">biz_tasks_id,</if>
            <if test="bizTasksName != null">biz_tasks_name,</if>
            <if test="agriFarmerId != null">agri_farmer_id,</if>
            <if test="agriFarmerName != null">agri_farmer_name,</if>
            <if test="agriFieldsId != null">agri_fields_id,</if>
            <if test="agriFieldsName != null">agri_fields_name,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="tasksStatus != null">tasks_status,</if>
            <if test="serialNum != null">serial_num,</if>
            <if test="bizName != null">biz_name,</if>
            <if test="agriTypeId != null">agri_type_id,</if>
            <if test="agriTypeCategory != null">agri_type_category,</if>
            <if test="agriTypeType != null">agri_type_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="bizTasksId != null">#{bizTasksId},</if>
            <if test="bizTasksName != null">#{bizTasksName},</if>
            <if test="agriFarmerId != null">#{agriFarmerId},</if>
            <if test="agriFarmerName != null">#{agriFarmerName},</if>
            <if test="agriFieldsId != null">#{agriFieldsId},</if>
            <if test="agriFieldsName != null">#{agriFieldsName},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="tasksStatus != null">#{tasksStatus},</if>
            <if test="serialNum != null">#{serialNum},</if>
            <if test="bizName != null">#{bizName},</if>
            <if test="agriTypeId != null">#{agriTypeId},</if>
            <if test="agriTypeCategory != null">#{agriTypeCategory},</if>
            <if test="agriTypeType != null">#{agriTypeType},</if>
         </trim>
    </insert>

    <update id="updateBizTasksAssignments" parameterType="BizTasksAssignments">
        update biz_tasks_assignments
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="bizTasksId != null">biz_tasks_id = #{bizTasksId},</if>
            <if test="bizTasksName != null">biz_tasks_name = #{bizTasksName},</if>
            <if test="agriFarmerId != null">agri_farmer_id = #{agriFarmerId},</if>
            <if test="agriFarmerName != null">agri_farmer_name = #{agriFarmerName},</if>
            <if test="agriFieldsId != null">agri_fields_id = #{agriFieldsId},</if>
            <if test="agriFieldsName != null">agri_fields_name = #{agriFieldsName},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="tasksStatus != null">tasks_status = #{tasksStatus},</if>
            <if test="serialNum != null">serial_num = #{serialNum},</if>
            <if test="bizName != null">biz_name = #{bizName},</if>
            <if test="agriTypeId != null">agri_type_id = #{agriTypeId},</if>
            <if test="agriTypeCategory != null">agri_type_category = #{agriTypeCategory},</if>
            <if test="agriTypeType != null">agri_type_type = #{agriTypeType},</if>
        </trim>
        where id = #{id}
    </update>


    <delete id="deleteBizTasksAssignmentsById" parameterType="String">
        delete from biz_tasks_assignments where id = #{id}
    </delete>

    <delete id="deleteBizTasksAssignmentsBytasksId" parameterType="String">
        delete from biz_tasks_assignments where biz_tasks_id = #{id}
    </delete>


    <delete id="deleteBizTasksAssignmentsByIds" parameterType="String">
        delete from biz_tasks_assignments where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>