<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.BizTasksMapper">
    
    <resultMap type="BizTasks" id="BizTasksResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="agriFarmerId"    column="agri_farmer_id"    />
        <result property="agriFarmerName"    column="agri_farmer_name"    />
        <result property="agriFieldsId"    column="agri_fields_id"    />
        <result property="agriFieldsName"    column="agri_fields_name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="status"    column="status"    />
        <result property="serialNum"    column="serial_num"    />
        <result property="bizName"    column="biz_name"    />
        <result property="agriTypeId"    column="agri_type_id"    />
        <result property="agriTypeCategory"    column="agri_type_category"    />
        <result property="agriTypeType"    column="agri_type_type"    />
        <result property="taskCreate"    column="task_create"    />
        <result property="withdrawLive"    column="withdraw_live"    />
    </resultMap>

    <sql id="selectBizTasksVo">
        select id, create_by, create_time, update_by, update_time, user_id, dept_id, agri_farmer_id, agri_farmer_name, agri_fields_id, agri_fields_name, start_time, end_time, status, serial_num, biz_name ,agri_type_id, agri_type_category, agri_type_type,task_create,withdraw_live from biz_tasks t
    </sql>

    <select id="selectBizTasksList" parameterType="BizTasks" resultMap="BizTasksResult">
        <include refid="selectBizTasksVo"/>
        <where>  
            <if test="agriFarmerName != null  and agriFarmerName != ''"> and agri_farmer_name like concat('%', #{agriFarmerName}, '%')</if>
            <if test="agriFieldsName != null  and agriFieldsName != ''"> and agri_fields_name like concat('%', #{agriFieldsName}, '%')</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="bizName != null  and bizName != ''"> and biz_name like concat('%', #{bizName}, '%')</if>
            <if test="taskCreate != null  and taskCreate != ''"> and task_create like concat('%', #{taskCreate}, '%')</if>

            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectBizTasksById" parameterType="String" resultMap="BizTasksResult">
        <include refid="selectBizTasksVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizTasks" parameterType="BizTasks">
        insert into biz_tasks
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="agriFarmerId != null">agri_farmer_id,</if>
            <if test="agriFarmerName != null">agri_farmer_name,</if>
            <if test="agriFieldsId != null">agri_fields_id,</if>
            <if test="agriFieldsName != null">agri_fields_name,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
            <if test="serialNum != null">serial_num,</if>
            <if test="bizName != null">biz_name,</if>
            <if test="agriTypeId != null and agriTypeId != ''">agri_type_id,</if>
            <if test="agriTypeCategory != null and agriTypeCategory != ''">agri_type_category,</if>
            <if test="agriTypeType != null and agriTypeType != ''">agri_type_type,</if>
            <if test="taskCreate != null and taskCreate != ''">task_create,</if>
            <if test="withdrawLive != null and withdrawLive != ''">withdraw_live,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="agriFarmerId != null">#{agriFarmerId},</if>
            <if test="agriFarmerName != null">#{agriFarmerName},</if>
            <if test="agriFieldsId != null">#{agriFieldsId},</if>
            <if test="agriFieldsName != null">#{agriFieldsName},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="serialNum != null">#{serialNum},</if>
            <if test="bizName != null">#{bizName},</if>
            <if test="agriTypeId != null and agriTypeId != ''">#{agriTypeId},</if>
            <if test="agriTypeCategory != null and agriTypeCategory != ''">#{agriTypeCategory},</if>
            <if test="agriTypeType != null and agriTypeType != ''">#{agriTypeType},</if>
            <if test="taskCreate != null and taskCreate != ''">#{taskCreate},</if>
            <if test="withdrawLive != null and withdrawLive != ''">#{withdrawLive},</if>
         </trim>
    </insert>



    <update id="updateBizTasks" parameterType="BizTasks">
        update biz_tasks
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="agriFarmerId != null">agri_farmer_id = #{agriFarmerId},</if>
            <if test="agriFarmerName != null">agri_farmer_name = #{agriFarmerName},</if>
            <if test="agriFieldsId != null">agri_fields_id = #{agriFieldsId},</if>
            <if test="agriFieldsName != null">agri_fields_name = #{agriFieldsName},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="serialNum != null">serial_num = #{serialNum},</if>
            <if test="bizName != null">biz_name = #{bizName},</if>
            <if test="agriTypeId != null and agriTypeId != ''">agri_type_id = #{agriTypeId},</if>
            <if test="agriTypeCategory != null and agriTypeCategory != ''">agri_type_category = #{agriTypeCategory},</if>
            <if test="agriTypeType != null and agriTypeType != ''">agri_type_type = #{agriTypeType},</if>
            <if test="taskCreate != null and taskCreate != ''">task_create = #{taskCreate},</if>
            <if test="withdrawLive != null and withdrawLive != ''">withdraw_live = #{withdrawLive},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizTasksById" parameterType="String">
        delete from biz_tasks where id = #{id}
    </delete>

    <delete id="deleteBizTasksByIds" parameterType="String">
        delete from biz_tasks where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


<!--    &lt;!&ndash; 更新 withdraw_live 字段为 0 的 SQL 语句 &ndash;&gt;-->
<!--    <update id="updateWithdrawLiveById" parameterType="BizTasks">-->
<!--        update biz_tasks-->
<!--        SET withdraw_live = {withdrawLive}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

    <update id="updateWithdrawLiveById" parameterType="BizTasks">
        update biz_tasks
        <trim prefix="SET" suffixOverrides=",">
           <if test="withdrawLive != null and withdrawLive != ''">withdraw_live = #{withdrawLive},</if>
        </trim>
        where id = #{id}
    </update>

</mapper>